.nav {
    display: flex;
    justify-content: space-around;
    border: 10px solid blue;
    background: lightblue;
}

.button {
    border: 2px solid red;
    background-color: pink;
    padding: 6px;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
}

body {
    background: url("https://cdn.vox-cdn.com/thumbor/b3EZjYPySXRwcQQJvUKB8peg2Gc=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19912680/Astronomical_Art_Landscape_2.jpg");
}

.life {
    color: white;
    font-size: 20px;
    text-align: center;
}

.Travis {
    width: 500px;
    border: 15px groove white;

}

.Scott {
    color: #0a60a6;
}

h3 {
    font-size: 35px;
    font-family: 'Major Mono Display', monospace;
    color: grey;
}

li {
    color: white;
    font-size:22px;
}